<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Suite">
    <listeners>
        <listener class-name="utils.SuiteAnalyzer" />
    </listeners>
    <test name="Test Case">
        <classes>
            <class name="runners.TestRunner" />
        </classes>
    </test>
</suite>